<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>

    <style type="text/css">
        .middle {
            bottom: 30%;
            position: fixed;
        }

        .judges {
            width: 16.6%; /*这里是百分比或者像素值，对应下面的center就是百分比或者像素值*/
            float: left;
            text-align: center;
        }

        .programScore {
            margin-top: 5%;
            text-align: center;
        }

        .programName {
            margin-top: 3%;
        }

        .rankDiv {
            text-align: center;
            margin-top: 10%;
        }

        .renk {
            margin-top: 2%;
        }

        span {
            color: white;
            font-size: 30px;
        }

    </style>
</head>
<body>
<img src="/statics/images/beijing.jpg" width="100%" height="100%" style="z-index:-100;position:absolute;left:0;top:0">
    <div id="scoreDiv">
        <div class="programName">
            <span id="programName"></span><br>
        </div>
        <div class="programScore">
            <span>总得分: &nbsp;&nbsp;</span><span id="finalScore"></span>
        </div>
        <div class="middle">
            <div id="judges"></div>
        </div>
    </div>
    <div id="rankDiv" class="rankDiv">
    </div>
</body>

<script type="text/javascript">
    var ws = null;
    var ws_status = false;

    function openWebSocket() {
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            ws = new WebSocket("ws://" + window.location.host + "/websocket/11");
        } else if ('MozWebSocket' in window) {
            websocket = new MozWebSocket("ws://" + window.location.host + "/websocket/11");
        } else {
            ws = new SockJS("http://" + window.location.host + "/websocket/11");
        }
        ws.onopen = function () {

        };
        //这个事件是接受后端传过来的数据
        ws.onmessage = function (event) {
            //根据业务逻辑解析数据
            console.log("Server:");
            console.log(event);
            var parsedJson = jQuery.parseJSON(event.data);
            // 根据指令处理任务
            if ("init" == parsedJson.cmd) {
                $("#rankDiv").hide();
                $("#scoreDiv").show();
                $("#programName").text(parsedJson.program.name);
                $("#finalScore").text("undefined" == typeof (parsedJson.program.score) ? "" : parsedJson.program.score);
                $("#judges").nextAll().remove();
                for (var i = 0; i < parsedJson.judgesList.length; i++) {
                    var judges = parsedJson.judgesList[i];
                    var judgesScore = "undefined" == typeof (judges.judgesScore) ? "" : judges.judgesScore;
                    var judgesHtml = "<div class=\"judges\">\n" +
                        "            <img id='judgesImg" + judges.id + "' width=\"90%\" height=\"90%\" src=\"/statics/images/" + judges.name + ".jpg\"><br>\n" +
                        "            <span id='judgesName" + judges.id + "'>" + judges.name + "</span><br>\n" +
                        "            <span id='grade" + judges.id + "'>" + judgesScore + "</span><br>\n" +
                        "        </div>";
                    $("#judges").after(judgesHtml);
                }

            } else if ("score" == parsedJson.cmd) {
                $("#grade" + parsedJson.judgesId).text(parsedJson.score);
            } else if ("finalScore" == parsedJson.cmd) {
                $("#finalScore").text(parsedJson.finalScore);
            } else if ("rank" == parsedJson.cmd) {
                $("#scoreDiv").hide();
                $("#rankDiv").show();
                $("#rankDiv").html("");
                for (var i = 0; i < parsedJson.depts.length; i++) {
                    var dept = parsedJson.depts[i];
                    var renkHtml = "<div class=\"renk\">\n" +
                        "            <span>" + dept.name + "</span>\n &nbsp;&nbsp;&nbsp;&nbsp;" +
                        "            <span>" + dept.score + "</span><br>\n" +
                        "        </div>";
                    // $("#rankDiv").appendChild(renkHtml);
                    $(renkHtml).appendTo($("#rankDiv"));
                }
            }
        };
        ws.onclose = function (event) {
            console.log("Connection closed!");
        };
        ws.onopen = function (event) {
            ws_status = true;
            console.log("Connected!");
        };
        ws.onerror = function (event) {
            console.log("Connect error!");
        };
    }

    //如果连接失败，每隔两秒尝试重新连接
    setInterval(function () {
        if (!ws_status) {
            openWebSocket();
        }
    }, 2000);
    $("#send").click(function () {
        ws.send("Hello, server, I am browser.");
    });
</script>
</html>